# Terraform
.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl
tfplan
tfplan.binary

# Secrets
*.tfvars
*.tfvars.json
secrets.tfvars
credentials/.cloudflare-token.txt
credentials/.github-pat.txt
.cloudflare-token.txt
.github-pat.txt

# Kubernetes
kubeconfig

# Direnv
.direnv
.stfolder/
