DO_TOKEN = ""

CLOUDFLARE_TOKEN = ""

ssh_public_keys = {
  "laptop" = "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIN9+fHB46aDKpZ4DdfQAuCjYMjglP780mpxDN9/+YWlG seeker@laptop"
}

GITHUB_PAT       = ""
GITHUB_USERNAME  = "notseekeru"
GITHUB_REPO_URL  = "https://github.com/notseekeru/gitops.git"
DIAGRAM_API_KEY  = ""

# servers = {
#   "vm-main-server" = {
#     tags = ["main-server"]
#   }
#   "vm-worker-01" = {
#     region = "nyc1"
#     size   = "s-2vcpu-2gb"
#     tags   = ["worker", "web"]
#   }
#   "vm-db-01" = {
#     image  = "ubuntu-24-04-x64"
#     size   = "s-2vcpu-4gb"
#     tags   = ["database"]
#   }
# }

